* {
  font-family: Arial, sans-serif;
}

.row {
  display: flex;
}

.vertical-row {
  @extend .row;

  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.layout {
  min-height: 100vh;
  min-width: 100vw;
}

.word-break-all {
  word-break: break-word;
  word-wrap: break-word;
}

.field-error {
  border-color: orangered !important;
}

.auth-form {
  @extend .vertical-row;

  width: 20rem;

  box-shadow: 0 0 0.1875rem cornflowerblue;

  fieldset {
    @extend .vertical-row;

    margin: 0;
    padding: 1rem;

    border: none;

    legend {
      @extend .word-break-all;

      width: 100%;
      padding: 1rem;

      line-height: 1.3;
      font-size: 1.4rem;
    }

    input {
      outline: none;

      width: 100%;

      margin: 1.5rem 0;
      padding-bottom: 0.2rem;

      border: none;
      border-bottom: solid 0.0625rem cornflowerblue;
    }
  }

  button[type=submit] {
    align-self: flex-end;

    cursor: pointer;
    outline: none;

    padding: 0.7rem 1.2rem;
    margin: 1rem;

    background: transparent;

    border: none;

    &:hover {
      background: rgba(cornflowerblue, 0.05);

      box-shadow: 0 0 0.1875rem cornflowerblue;
      border-radius: 0.1rem;
    }
  }
}
