<form class="auth-form" [formGroup]="authForm"
      (submit)="(currAuthType === authTypeEnum.Default ? markAllFieldsAsTouched(authForm) || authForm.valid : true) && auth()">
  <fieldset>
    <legend>Аутентификация</legend>
    <input type="text" formControlName="login"
           [ngClass]="{'field-error': loginControl.touched && loginControl.invalid}"
           placeholder="Телефон или email">
    <input type="password" formControlName="password"
           [ngClass]="{'field-error': passwordControl.touched && passwordControl.invalid}"
           placeholder="Пароль">
  </fieldset>
  <button type="submit" (click)="currAuthType = authTypeEnum.Default">Войти</button>
  <button type="submit" (click)="currAuthType = authTypeEnum.Vk">Вход через VK</button>
</form>

