@import url(~normalize.css/normalize.css);
* {
  font-family: Arial, sans-serif; }

.row, .vertical-row, .auth-form, .auth-form fieldset {
  display: flex; }

.vertical-row, .auth-form, .auth-form fieldset {
  flex-direction: column; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.layout {
  min-height: 100vh;
  min-width: 100vw; }

.word-break-all, .auth-form fieldset legend {
  word-break: break-word;
  word-wrap: break-word; }

.field-error {
  border-color: orangered !important; }

.auth-form {
  width: 20rem;
  box-shadow: 0 0 0.1875rem cornflowerblue; }
  .auth-form fieldset {
    margin: 0;
    padding: 1rem;
    border: none; }
    .auth-form fieldset legend {
      width: 100%;
      padding: 1rem;
      line-height: 1.3;
      font-size: 1.4rem; }
    .auth-form fieldset input {
      outline: none;
      width: 100%;
      margin: 1.5rem 0;
      padding-bottom: 0.2rem;
      border: none;
      border-bottom: solid 0.0625rem cornflowerblue; }
  .auth-form button[type=submit] {
    align-self: flex-end;
    cursor: pointer;
    outline: none;
    padding: 0.7rem 1.2rem;
    margin: 1rem;
    background: transparent;
    border: none; }
    .auth-form button[type=submit]:hover {
      background: rgba(100, 149, 237, 0.05);
      box-shadow: 0 0 0.1875rem cornflowerblue;
      border-radius: 0.1rem; }

/*# sourceMappingURL=styles.css.map */
